* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica', sans-serif;
    font-size: 2vmin;
}

#root {
    width: 100%;
    height: 100vh;
    background-color: darkgray;
}

p {
    margin: 0;
    padding: 0;
}

.App {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

.table {
    width: 55vmax;
    height: 40vmin;
    background-color: green;
    border-radius: 40%;
    position: fixed;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.cards-section {
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card {
    border: 2px solid white;
    background-color: lightblue;
    width: 5vmax;
    height: 15vmin;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.matches {

    width: 100%;
    height: 18%;
    background-color: white;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
}

.match-block {
    width: 100%;
    height: 60%;
    margin: 0 2px;
}

.suit-red {
    font-size: 5vmin;
    color: red;
}

.suit-black {
    font-size: 5vmin;
}

/*Optimize later*/

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.green {
    background-color: green;
}

.brown {
    background-color: brown;
}

.purple {
    background-color: purple;
}

/*Optimize later*/

.button {
    width: 2vmax;
    height: 2vmax;
    border-radius: 50%;
    background-color: darkred;
    border: 2px solid white;
    margin-bottom: 5vmin;
}

.player-wrap {
    width: 90vw;
    height: 90vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    z-index: 1;
    pointer-events: none;
    align-content: space-between;
    justify-content: space-between;
}

.player {
    width: 24vmax;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.player-hand {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 12vmax;
}

.pot {
    margin-top: 5vmin;
}

.bet-menu {
    border: 2px solid black;
    width: 12vmax;
    height: 15vmin;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-around;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    font-size: 1.5vmin;
    pointer-events: all;
}

input {
    width: 30%;
    height: 20%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 5%;
}

.bet-menu_block {
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 5%;
}

.bet-menu_button {
    padding: 2%;
    height: 10%;
    background-color: white;
    border: 2px solid black;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}